html,
body {
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    background-color:#A9C9D6;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0;
    min-height: 100vh;
}
html {
    position: relative;
}
a {
    color: #333;
}
.calckeys {
    display: flex;
    border: 10px solid lightgray;
    padding: 10px;
    margin: 0px;
    background-color: snow;
}
button {
    flex: 1;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border: lightgray solid 1px;
    border-radius: 3px;
}
#equal {
    height: 206px;
}
.display {
    display: flex;
    border: 10px solid lightgray;
    padding: 10px 10px;
    background-color: snow;
    border-radius: 0px;
    width: 208px;
    justify-content: flex-end;
}
.calcbut {
    padding: 1px;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0000001c;
    font-weight: 900;
    flex-shrink: 0;
    margin-top: auto;
    padding: 0px 10px;
}